:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-action-row {
  gap: 5px;
}

.delete-btn {
  color: darkred;
  background: transparent;
  border: none;
  cursor: pointer;
}

.edit-btn {
  color: rgb(0, 106, 106);
  background: transparent;
  border: none;
  cursor: pointer;
}

.no-posts-inf0 {
  text-align: center;
  font-weight: 700;
}

.post-image {
  height: 50%;
  object-fit: cover;
}
