mat-card {
  align-items: center;
}

mat-spinner {
  margin: auto;
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px 0;
}

button {
  width: fit-content;
  align-self: center;
}

input[type="file"] {
  display: none;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}