<mat-toolbar>
    <span>My Posts</span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="isAuthenticated">
            <a matButton="outlined" routerLink="/posts">All Posts</a>
        </li>
        <li *ngIf="isAuthenticated">
            <a matButton="outlined" routerLink="/create">New Post</a>
        </li>
         <li *ngIf="!isAuthenticated">
            <a matButton="outlined" routerLink="/user/login">Login</a>
        </li>
         <li *ngIf="!isAuthenticated">
            <a matButton="outlined" routerLink="/user/signup">Signup</a>
        </li>
         <li *ngIf="isAuthenticated">
            <button matButton="outlined" (click)="onLogout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>