<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" class="signup-form" (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <mat-form-field>
            <input matInput type="email" ngModel #emailInput="ngModel" name="email"  placeholder="Email" required email/>
            <mat-error *ngIf="emailInput.invalid">Enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" name="password" ngModel #passwordInput="ngModel" placeholder="Password" required />
            <mat-error *ngIf="passwordInput.invalid">Invalid password</mat-error>
        </mat-form-field>
        <button matButton="filled" type="submit" class="signup-button">Signup</button>
    </form>
</mat-card>